/* You can add global styles to this file, and also import other style files */
@use "app-global-index"; // global styles with all elements and variables

body {
  padding: 0;
  margin: 0;
  background-color: #edf1f7;
}
